<app-header></app-header>
<div id="AdminWrap">
  <app-menu></app-menu>

  <div id="AdminMain">
    <div class="titlei"><i></i>股权回购分配</div>

    <form class="form-cont form-horizontal" [formGroup]="myForm">
      <div class="form-group">
        <label class="control-label col-sm-2">股权总额</label>
        <div class="col-sm-3">
          <input class="form-control" type="text" disabled="disabled" value="{{yue}}">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2"><span class="text-danger">*</span>接收会员ID</label>
        <div class="col-sm-3">
          <input class="form-control" type="text" formControlName="AcceptUserID" placeholder="会员账号">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2">会员姓名</label>
        <div class="col-sm-3">
          <input class="form-control" type="text" formControlName="AcceptUserName">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2"><span class="text-danger">*</span>分配数额</label>
        <div class="col-sm-3"><input type="number" class="form-control" name="money" formControlName="MoneySum"></div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2"></label>
        <div class="col-sm-3"><button class="btn btn-confirm" (click)="onsubmit($event)" [disabled]="myForm.invalid">确认</button></div>
      </div>

    </form>

    <table class="table tongyong table-striped">
      <thead>
      <tr>
        <td>操作时间</td>
        <td>对方ID</td>
        <td>对方姓名</td>
        <td>交易数额</td>
        <td>余额</td>
      </tr>
      </thead>
      <tr *ngFor="let x of model;">
        <td>{{GetTimes(x.Times)}}</td>
        <td>{{x.AcceptUserID}}</td>
        <td>{{x.AcceptUserName}}</td>
        <td>{{x.MoneySum}}</td>
        <td>{{x.Balance}}</td>
      </tr>

    </table>

    <div class="pagebar">
      <div class="page">
        <app-pagination conf="Pagination"></app-pagination>
      </div>
    </div>

  </div>

</div>
