<app-header></app-header>
<div id="AdminWrap">
  <div class="titlei"><i></i>商城购物>>
  <span style="cursor:pointer" [routerLink]="['/admin/order/whole']">我的订单</span>>>
  <span>订单：{{ID}}</span>
  </div>
  <div class="retreat-wrap">
    <div class="order-info">
      <p><strong>订单信息</strong></p>
      <div class="order-list-info">
        <div class="commodity-info">
          <a routerLink="/product/{{model['PID']}}" target="_blank"><img src="{{model['Images']}}" alt="" width="88" height="66"></a>
          <p>
            <a routerLink="/product/{{model['PID']}}" target="_blank">{{model['Title']}}</a><br>
            <span style="font-size: 0.14rem; color: #666666">{{model['Params']}}</span>
          </p>
        </div>
        <p>订单编号：{{ID}}</p>
        <p>下单时间：{{GetTimes(model['Times'])}}</p>
        <p>商品单价：{{model['Price']}}</p>
        <p>商品数量：{{model['Num']}}</p>
        <p>商品总价：{{model['Price'] * model['Num']}}</p>
      </div>
    </div>
    <!--提交退款申请-->
    <div class="retreat-operation">
      <div id="forgot">
        <ul>
          <li><i class="qipao active">1</i>买家申请退款</li>
          <li class="line"><hr></li>
          <li><i class="qipao">2</i>卖家处理退款</li>
          <li class="line"><hr></li>
          <li><i class="qipao">3</i>退款成功</li>
        </ul>
      </div>
      <div>
        <form class="form-cont form-horizontal retreat-form" [formGroup]="formMobel">
          <div class="form-group">
            <label class="control-label col-sm-2">订单状态：</label>
            <label for="WeiShou" class="control-label col-sm-2 label-left">未收货<input type="radio" id="WeiShou" formControlName="TID" value="0"></label>
            <label for="YiShou" class="control-label col-sm-2 label-left">已收货<input type="radio" id="YiShou" formControlName="TID" value="1"></label>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2">退款积分：</label>
            <p class="control-label col-sm-4 label-left">{{model['Price'] * model['Num']}}</p>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2">退款原因：</label>
            <div class="col-sm-4">
              <select name="" id="sel" class="form-control col-sm-2" formControlName="Reason">
                <option value="" placeholder="请选择">请选择</option>
                <option value="七天无理由退货">七天无理由退货</option>
                <option value="大小尺寸和商品描述不符">大小尺寸和商品描述不符</option>
                <option value="颜色/图案/款式和商品描述不符">颜色/图案/款式和商品描述不符</option>
                <option value="重复下单，拍错了">重复下单，拍错了</option>
                <option value="反正就是不想要了">反正就是不想要了</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2">退款说明：</label>
            <div class="col-sm-6">
              <textarea class="form-control retreat-textarea" id="Explain" formControlName="Message" placeholder="请说明退款原因"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2"></label>
            <div class="col-sm-4">
              <button class="btn btn-confirm" [disabled]="formMobel.invalid" (click)="onSubmit($event)">提交</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
