.titlei{
    display: inline-block;
    margin-left: 0.2rem;
}
#userTable{
    display: inline-block;
    width: 9.94rem;
    height: 6.56rem;
    margin-left: 0.2rem;
}
#userTable input{
    background: white;
}
#userTable p{
    text-align: left;
}
#userTable form{
    margin-top: 0;
    padding-top: 0;
}
