<app-header></app-header>
<div class="index-main-box">
  <div class="down-main">
    <img src="/assets/images/about.jpg" width="100%" alt="">
  </div>
  <div id="about">
    <div class="about">
      <div class="left">
        <h2 class="titlei"><i></i>关于我们</h2>
        <p>剧客网是北京华夏金影国际文化传媒有限公司推出的020平台，公司致力于打造国内粉丝经济生态圈，构建以粉丝、会员为核心，明星艺人
        为基础的影视娱乐生态系统，在“互联网+”背景下形成的一种粉丝经济模式。顺应互联网发展及国民娱乐需求，公司利用十余年的资本经验积淀，以
        会员为中心，联合华夏影视联盟，打造粉丝生态圈，提供线上线下全方位的粉丝经济娱乐服务。</p>
      </div>
      <div class="right"><img src="/assets/images/about2.jpg" alt=""></div>
    </div>
  </div>
</div>
