#about{ width: 1200px; margin: 40px auto;}
.about{ clear: both; overflow: hidden;}
.about .left{ float: left; width: 650px; font-size: 0.16rem; line-height: 30px;}
.about .left h2{ margin-bottom: 30px;}
.about .right{ float: right; width: 500px;}
.titlei i{    border-left: 2px solid #ff4a02;
  border-right: 2px solid #ff4a02;
  border-radius: 5px;
  margin-right: 16px;}
