<app-header></app-header>
<div id="AdminWrap">
  <p><strong>用户协议</strong></p>
  <br>
  <p>本协议以遵守中华人民共和国相关法律法规为前提制定。如您有任何疑问，请及时联系我们。</p>
  <br>
  <p>本协议是您与剧客网网站及其客户端所有者北京华夏金影国际文化传媒有限公司（以下简称为"剧客"）之间就剧客网平台服务等相关事宜所订立的契约，您注册成为剧客网会员前，必须仔细阅读本会员协议，对于协议中以加粗字体显示的内容，您应重点阅读。一旦您注册成为了剧客网会员以及使用我们的服务，即表示您已经阅读、同意并接受本会员协议和隐私声明中所含的所有条款和条件。我们有权根据需要不时地修订本协议，如果我们对本协议进行了任何变更，我们会以系统公示的方式进行公告，将不再另行单独通知您。如您不同意该修订条款，您必须终止您与剧客网的会员关系。</p>
  <br>
  <p class="ttl">一、会员注册：</p>
  <br>
  <p>1.会员资格：</p>
  <br><br>
  <p>您必须具有签订有效合同的主体资格。在不限制前述规定的前提下，我们的服务不向18周岁以下（16周岁以上不满18周岁，以自己的劳动收入为主要生活来源者除外）或被临时或无限期中止会员资格的剧客网会员提供。如您不合资格，请不要使用我们的服务。剧客网保留中止或终止您的帐户的权利。</p>
  <br><br>
  <p>2.资料填写：</p>
  <br><br>
  <p>为确保交易的正常进行，保证您的权益，您必须向剧客网提供真实、有效的个人资料，如个人资料有变动，必须及时通知剧客网更新。您同意接收来自剧客网发出的邮件、信息。</p>
  <br>
  <p class="ttl">二、会员的帐号，密码和安全性</p>
  <br>
  <p>1.您一旦注册成功，成为本站的合法会员，将会得到属于自己的一个密码和会员名。</p>
  <br>
  <p>2.您可根据提示改变您的密码。</p>
  <br>
  <p>3.您应对会员名和密码安全负重要责任。用户应谨慎合理的保存、使用其用户名和密码。账户因您主动泄露或遭受他人攻击、诈骗等行为导致的损失及后果，均由您自行承担。若发现任何非法使用会员帐号或存在安全漏洞的情况，请立即通告本站。</p>
  <br>
  <p class="ttl">三、交易</p>
  <br>
  <p>您在剧客网进行商品购买时必须遵守以下条款：</p>
  <br>
  <p>1.您在使用剧客网的服务及购买商品时，应当遵守所有适用的中国法律、法规、条例和地方性法律要求。您还必须确保您遵守本会员协议和隐私声明及纳入上述文件的所有其它条款和规则。</p>
  <br>
  <p>2.如您在剧客网购买商品，您有义务完成与剧客网的交易，但法律或本会员协议禁止的交易除外。通过对一项商品的下订单，您同意受该商品描述所含的出售条件的约束，只要该出售条件不是非法的且不违反本协议。</p>
  <br>
  <p>3.剧客网网站上的广告、价目表和声明并不必然构成要约。如果您通过与剧客网订购商品，您的订单就成为一种购买商品的申请或要约。</p>
  <br>
  <p>4.商品价格和可获性已在网站上指明（特殊情况除外），这类信息将随时更改且不发通知。送货费除注明免费外，将另外结算，费用根据您选择的送货方式、地点等不同而有差异。在确认收到了您的订单提交后，如果发生了以下意外情况，由于供应商提价、税额变化而引起价格变化，剧客网会通过email或电话通知您，由您决定是否撤回订单。</p>
  <br>
  <p>5.我们可以在发现了剧客网网站上显现的商品及订单的明显错误、缺货、超区配送或其他特殊情况导致无法接受订单的情况下，客服将会通知您订单无法成立。</p>
  <br>
  <p>6.剧客网保留对商品订购的数量的限制权。</p>
  <br>
  <p class="ttl">四、质量与售后</p>
  <br>
  <p>1.详见售后服务条款。</p>
  <br>
  <p class="ttl">五、知识产权：</p>
  <br>
  <p>1.剧客网所提供的网络服务的相关著作权、专利权、商标、商业秘密及其它相应权利，均属剧客网或其合作伙伴所有。在法律允许的最大限度范围内，剧客网对本协议及本平台内容拥有解释权。</p>
  <br>
  <p>2.非经法律准许、剧客网或其合作伙伴同意，您不得擅自对网站的内容（除您的个人信息以外）进行复制、修改、制作衍生作品、分发或公开展示，否则应负法律责任。</p>
  <br>
  <p class="ttl">六、隐私权：</p>
  <br>
  <p>剧客网设有适用于所有会员并纳入会员协议的隐私声明。您应当在注册时阅读并接受隐私声明以使用剧客网网站，且您在作为剧客网会员期间将继续受其（及剧客网对隐私声明作出的修订）约束。</p>
  <br>
  <p>1.个人数据资料。包括个人识别资料：如姓名、性别、年龄、出生日期、身份证号码(或护照号码)、电话、通信地址、住址、电子邮件地址等情况；个人背景：职业、教育程度、收入状况、婚姻、家庭状况。在未经您同意及确认之前，剧客网不会非法使用您的资料。</p>
  <br>
  <p>2.使用非个人信息。剧客网将通过您的IP地址来收集非个人化的信息，包括您的浏览器性质、操作系统种类、给您提供接入服务的ISP的域名等，以优化在您计算机屏幕上显示的页面。通过收集上述信息，我们亦进行客流量统计，从而改进网站的管理和服务。</p>
  <br>
  <p>3.个人数据安全：剧客网采用安全性的服务器使用控制设备保护保护您的个人数据。</p>
  <br>
  <p>4.剧客网在符合下列条件时，对个人资料进行必要使用：已取得您的同意；为免除您在财产方面之急迫危险；为防止他人权益之重大危害；为增进公共利益、公共安全，且无害于您的重大利益；国家机关依照法定程序要求剧客网披露个人资料。</p>
  <br>
  <p class="ttl">七、网站安全：</p>
  <br>
  <p>您同意，未经剧客网明示书面准许，您不会为了任何目的使用任何机器人、恶意软件或其他自动方式进入网站。此外，您同意将不会：</p>
  <br><br>
  <p>1.进行任何对剧客网网站造成或可能造成（按剧客网自行酌情确定）不合理或不合比例的重大负荷的行为；</p>
  <br>
  <p>2.干扰或试图干扰网站的正常工作或网站上进行的任何活动；</p>
  <br>
  <p>3.在网站中使用根据相关法律法规可能视为被禁止或可能被禁止的任何内容；</p>
  <br>
  <p>4.对网站使用包含可能破坏、改变、删除、不利影响、秘密截取、未经授权而接触或征用任何系统、数据或个人资料的任何病毒、特洛依木马、蠕虫、定时炸弹、删除蝇、复活节彩蛋、间谍软件或其他电脑程序。</p>
  <br>
  <p class="ttl">八、转让：</p>
  <br>
  <p>1.您同意，本协议和所有纳入的协议可由剧客网自行酌情决定向第三方转让；</p>
  <br>
  <p>2.但该转让剧客网将以通知形式让您知晓。</p>
  <br>
  <p>3.会员之间因为消费而产生的自愿性转让行为，和平台无关。</p>
  <br>
  <p class="ttl">九、解除、终止：</p>
  <br>
  <p>如发生下列任何一种情形，剧客网有权中止或终止向您提供服务而无需通知您：</p>
  <br><br>
  <p>1.您提供的个人资料不真实；</p>
  <br>
  <p>2.您违反法律规定或者协议约定；</p>
  <br>
  <p>3.按照主管部门的要求；</p>
  <br>
  <p>4.您注册后帐号长期闲置不用；</p>
  <br>
  <p>5.您的剧客网帐户未经批准向其他方转让或出售；</p>
  <br>
  <p>6.我们发现您恶意注册帐号或我们收到第三方投诉且该第三方出具相应证据；</p>
  <br>
  <p>7.利用剧客网的规则漏洞、网络系统漏洞，恶意消费，干扰本平台的正常运转，损害剧客网权益；</p>
  <br>
  <p>8. 教唆他人从事本条所禁止的行为，以及其他我们认为是不符合整体服务需求的特殊情形。</p>
  <br>
  <p>9、利用本平台从事洗钱、窃取商业秘密、窃取个人信息等违法犯罪活动；</p>
  <br>
  <p>若用户未遵守以上规定的，本平台有权作出独立判断并采取暂停或关闭用户帐号等措施。用户须对自己在网上的言论和行为承担法律责任。</p>
  <br>
  <p class="ttl">十、责任与免除：</p>
  <br>
  <p>1.剧客网有义务在技术上确保网站的正常运行，尽力避免服务中断或将中断时间限制在最短时间内，保证您网上交易活动的顺利进行。</p>
  <br>
  <p>2.作为对等责任的履约双方，剧客网为打造粉丝经济生态圈和影视文化娱乐系统，剧客网在维护您的会员权益和会员服务的同时，您个人亦有配合平台购买指定数量的电影票的义务。否则平台有权强制扣除，以保证协议正常履行。</p>
  <br>
  <p>3.您个人对网络服务的使用承担风险。我们不担保服务一定能满足会员的要求，也不担保服务不会受中断，对服务的及时性、安全性、出错发生都不作绝对保证。</p>
  <br>
  <p>4.如因不可抗力或其他剧客网无法控制的原因使剧客网站崩溃或无法正常使用导致网上交易无法完成或丢失有关的信息、记录等，我们有权暂停或终止服务，不视为违约。但剧客网应尽义务妥善处理后续事宜。</p>
  <br>
  <p>5.您向剧客网提供错误、不完整、不实信息等造成不能正常使用剧客网服务或遭受其他相应损失，应由您自行承担。</p>
  <br>
  <p class="ttl">十一、效力、管辖：</p>
  <br>
  <p>1.本协议的条款是可分割的，如本协议个别条款被裁定为无效或不可执行，该条款可被删除而其余条款继续有效。</p>
  <br>
  <p>2.本协议的成立、生效、履行、变更、解释及争议解决等均适用中华人民共和国（不包括香港特别行政区、澳门特别行政区及台湾地区）法律。</p>
  <br>
  <p>3.双方在履行本协议的过程中如发生争议，应协商解决。</p>

</div>
