<router-outlet></router-outlet>

<footer>
  <div id="Footer">
    <div class="foot-nav">
      <ul>
        <li>联系方式</li>
        <li>电话：400 6939 378</li>
        <li>传真：010-6840-5187</li>
        <li>邮箱：hxig@hxchina.org</li>
      </ul>
      <ul>
        <li>关于剧客</li>
        <li><a href="about">关于我们</a></li>
        <li><a href="legal">法律声明</a></li>
        <!--<li><a href="help">帮助中心</a></li>-->
      </ul>
      <ul>
        <li>友情链接</li>
        <!--<li><a>华夏集团</a></li>-->
        <li><a href="http://www.jukezc.com">北京华夏金影国际文化传媒有限公司</a></li>
        <!--<li><a>聚宝盆投资管理股份有限公司</a></li>-->
      </ul>
      <ul>
        <li>下载APP</li>
        <li><a href="/download">安卓版</a></li>
        <li><a href="/download">IOS版</a></li>
      </ul>
    </div>

    <p>Copyright © 北京华夏金影国际文化传媒有限公司    2018 京ICP备16039379号-2   技术支持 :华夏金影</p>
  </div>
</footer>
