.titlei{
  display: inline-block;
  margin-left: 0.2rem;
}
.Modifypassword{
  display: inline-block;
  width: 9.94rem;
  height: 6.56rem;
  margin-left: 0.2rem;
}
.Modifypassword button{
  background: #ff4a02;
  color: white;
  margin-left: 1.95rem;
  margin-top: 0.2rem;
}
.has-error{
  color: #a94442;
}

