<app-header></app-header>
<div id="AdminWrap">
    <app-menu></app-menu>

    <div class="titlei"><i></i>修改登录密码</div>

    <div class="Modifypassword">
        <form class="form-cont form-horizontal" [formGroup]="formMobel">
            <div class="form-group">
                <label class="control-label col-sm-2">原始密码</label>
                <div class="col-sm-3">
                    <input type="password" class="form-control" value="{{oldPass}}" formControlName="oldPass" autocomplete="off">
                </div>
            </div>
            <div class="form-group" [class.has-error]="formMobel.get('newPass').touched && formMobel.get('newPass').invalid">
              <label class="control-label col-sm-2">新密码</label>
              <div class="col-sm-3">
                <input type="password" class="form-control" value="{{newPass}}" formControlName="newPass" autocomplete="off">
              </div>
              <label class="control-label" *ngIf="formMobel.get('newPass').touched && formMobel.get('newPass').invalid"><span style="color: #a94442;">新密码由6-16位数字和字母组成，不能含有特殊字符和空格</span></label>
            </div>
            <div class="form-group" [class.has-error]="formMobel.get('confirmPass').value != '' && formMobel.get('newPass').value !== formMobel.get('confirmPass').value">
                <label class="control-label col-sm-2">确认新密码</label>
                <div class="col-sm-3">
                    <input type="password" class="form-control" formControlName="confirmPass" value="{{confirmPass}}" autocomplete="off">
                </div>
                <label class="control-label" *ngIf="formMobel.get('confirmPass').value != '' && formMobel.get('newPass').value !== formMobel.get('confirmPass').value">两次密码不一致</label>
            </div>
            <button class="btn" (click)="Savemodify()" [disabled]=" show || formMobel.get('oldPass').value == '' || formMobel.get('newPass').value == ''  || formMobel.get('confirmPass').value == '' || formMobel.invalid || formMobel.get('newPass').value !== formMobel.get('confirmPass').value" >保存修改</button>
        </form>
    </div>
</div>
